body {
  margin: 0;
  padding: 0;
}
button #searchButton{
  padding:0px;
}
button{
  background: none;
  border: none;
  padding : 10px;
}
.NavBar{
  background: #ffffff;
  min-height: 70px;
  padding-top: 15px;
}
.NavBar .SidebarButton{
  display:inline-block;
}
#myInput{
  max-width: 92%;
  display: inline-block;
}
.NavBar .ProfileButton{
  display:inline-block; 
  float: right;
}
.ProfileButton i{
  font-size:25px;
  color: #606060;
}
#logo{
  max-width: 80px;
  margin-left: 20px;
}
#sidebarCollapse i{
  font-size: 25px;
}